/* container mx-auto max-w-7xl px-4 -----> Responsive Queries for wide screen */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.roboto {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.lato {
  font-family: "Lato", serif;
  font-style: normal;
}

@media screen and (width>=1428px) {
  .imgres {
    width: 40vw;
  }
}

@media screen and (width>=1756px) {
  .imgres {
    width: 35vw;
  }
}

@media screen and (width>=2008px) {
  .imgres {
    width: 28vw;
  }
}

@media screen and (width<=1284px) {
  .ratio {
    aspect-ratio: 5/5 !important;
  }
}

@media screen and (width<=820px) {
  .ratio {
    aspect-ratio: auto !important;
  }
}

@media screen and (width>=1284px) {
  .ratio {
    aspect-ratio: 3/3 !important;
  }
}

@media screen and (width<=1240px) {
  .smaple-width {
    width: 100% !important;
  }
}

@media screen and (width>=1760px) {
  .ab-form {
    max-width: 24rem;
    width: 90%;
  }
}

@media screen and (width>=1976px) {
  .ab-form {
    left: 10%;
  }
}

@media screen and (width>=2152) {
  .ab-form {
    left: 20%;
  }
}
