@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.roboto {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.lato {
  font-family: "Lato", serif;
  font-style: normal;
}

@media screen and (width>=1428px) {
  .imgres {
    width: fit-content;
  }
}

@media screen and (width<=1284px) {
  .ratio {
    aspect-ratio: 5/5 !important;
  }
}

@media screen and (width<=820px) {
  .ratio {
    aspect-ratio: auto !important;
  }
}
